{% url 'index' as index_url %}
{% url 'crawler:crawler' as crawler_url %}
{% url 'extendPortal:extend' as extend_url %}
{% url 'predictmodels:predictmodels' as predictmodel_url %}
{% url 'contact:contact' as contact_url %}
{% url 'about' as about_url %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ index_url }}">Goodman Pole</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item"><a class="nav-link {% if request.path == index_url %}active{% endif %}" href="{{ index_url }}">Home</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == crawler_url %}active{% endif %}" href="{{ crawler_url }}">Crawler</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == predictmodel_url %}active{% endif %}" href="{{ predictmodel_url }}">Models</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == extend_url %}active{% endif %}" href="{{ extend_url }}">Implement</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == contact_url %}active{% endif %}" href="{{ contact_url }}">Contact</a></li>

                <li class="nav-item"><a class="nav-link {% if request.path == about_url %}active{% endif %}" href="{{ about_url }}">About</a></li>
            </ul>
        </div>
    </div>
</nav>